.form__input {
  width: 90%;
  padding: 5px;
}

.btn__submit {
  width: 10%;
  padding: 7px 20px;
  border: none;
  background-color: #091cae;
  color: #fff;
  cursor: pointer;
}

.btn__submit:hover {
  background: #666;
}
